
<div id="homeCont">

<h1>Address Book</h1>

<%= link_to 'New Address', new_address_path %>
<br>
<%= link_to 'Search Addresses', search_addresses_path  %>
<br>
<%= link_to 'Community', search_by_letter_addresses_path  %>

<%= render 'display' %>

</div>